BasedOnStyle: Google
UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
SpaceBeforeParens: ControlStatements
MaxEmptyLinesToKeep: 1
SortIncludes: false
